.book-container {
    display: flex;
    justify-content: center;
}

.carousel-container {
    width: fit-content;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
}

@media only screen and (max-width: 992px) {
    .book-container {
        flex-flow: column-reverse nowrap;
        max-width: 600px;
    }

    .carousel-container {
        width: 100%;
        max-width: 600px;
    }
}

.carousel-container img {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    min-height: 300px;
    height: 100%;
    object-fit: contain;
}

.hero-side {
    padding: 20px;
    cursor: default;
    user-select: none;
}

.book-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}

.book-name {
    font-family: var(--font-primary);
    font-size: 38px;
    font-weight: bold;
    line-height: 1.1;
    color: var(--color-primary);
}

.book-author {
    font-size: 20px;
    color: var(--color-text-secondary);
}

.book-username {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.1;
    color: var(--color-text-secondary);
}


.book-review {
    margin-top: 15px;
}

.review-title {
    color: var(--color-dark-gray);
    font-size: 24px;
    font-weight: bold;
}

.book-divider {
    margin-top: 15px;
    border: none;
    border-top: 1px solid var(--color-primary);
    opacity: 0.5;
}

.book-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: var(--color-text-secondary);
}

.book-actions .button {
    padding: 5px;
    background-color: var(--color-background);
    cursor: pointer;
    border-radius: 5px;
}

/* .book-actions .button:hover {
    padding: 5px;
    color: var(--color-background);
    background-color: var(--color-primary);
} */

.book-actions .button.active {
    padding: 5px;
    color: var(--color-background);
    background-color: var(--color-primary);
}

.username:hover {
    cursor: pointer;
    color: var(--color-primary);
}