.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50px;
    gap: 25px;
}

.search-bar div{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
    min-height: 100%;
}

.search-button{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    max-width: 150px;
}

.search-bar button{
    margin: 0;
}

.search-bar input{
    width: 100%;
    min-width: 350px;
}

.books-list {
    margin-top: 30px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}